<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        
  
        <link
        rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
      />
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
        <link rel="stylesheet" href="css/style.min.css">
        <script src="https://unpkg.com/just-validate@latest/dist/just-validate.production.min.js"></script>
        <script src="js/inputmask.min.js"></script>
</head>
<body>
    <div class="wrapper">
    <header class="header">
    <div class="container">
      <div class="header__inner">
        <div class="header__logo"><img src="./images/header-logo.svg" alt=""></div>
        <nav  class=" header__item  ">
          <ul class="header__list">
            <li class="header__list-link"><a href="#" class="header__link">Home</a></li>
            <li class="header__list-link"><a href="#" class="header__link">AbouT us</a></li>
            <li class="header__list-link header__list-link1 "><a href="#" class="header__link">Services</a>
            <span></span>
          <nav class="header__list-link2">
            <li><a href="#">Investments opportunities</a></li>
            <li><a href="#">Business relocation</a></li>
            <li><a href="#">Family relocation</a></li>
          </nav></li>
            <li class="header__list-link"><a href="#" class="header__link">Invest in cyprus</a></li>
            <li class="header__list-link"><a href="#" class="header__link">migration</a></li>
            <li class="header__list-link"><a href="#" class="header__link">Contuct us</a></li>
          </ul>
        </nav>
        
       <div class="header__button-burger">
        <div class="header__button">
          
          <a href="#" class="header__button-link">Get in touch</a>
        </div>
          <div class="header__burger ">
            <span></span>
            
           
          </div>
      </div>
       </div>
    </div>
    </header>   
     
   